/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
header{
	background-color: black;
	color: yellow;
	text-align: center
	
}
h1 {
	color: black;
text-align: center;
padding: 22 px; 
font-size: 30 px;

}
main{
	background-color: black;
	color: orangered;
	text-align: center;
	padding: 22 px; 
	
}
body {
	background-color: black;
	chocolate;
	line-height: 1 ;
	padding: 22 px; 
}
ol, ul {
	background-color: black
	color: orangered
	list-style: none;
	padding: 22 px; 
}
blockquote, q {
	background-color: black
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:orangered;
    padding: 20px;
    font-size: 16px;
}
 main section h2 {
	padding: 20 px;
}
#mo{
	padding: 25px;
	font-size: 35px;
}
#mz{
	padding: 35px;
	font-size: 35px;
}
#mu{
	padding: 35px;
	font-size: 35px;
}
ol li {
	color: orangered;
	font-size: 20px;
	text-align: left;
	margin-left: 35px; 

}
h3 {
	font-size: 35px;
	padding: 35px;
}
#name{
	font-size: 20px;
	text-align: center;
}
#bi {
	font-size: 20px;
	text-align: center;
}